<h1> Sign up </h1>

<%= form_for @user, :url => {:action => "create" } do |f| %>
 <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.label :twitter %>
  <%= f.text_field :twitter %> (optional) <br>
  <%= f.submit "Sign up!" %>
<% end %>
