<h1>Interesting Links</h1>
<a class= "btn btn-large btn-primary" href="/submit"><i class="icon-link"></i> Submit a new link</a>
<br>
<br>

<table class="table table-striped">
  <tbody>
  <% @posts.sort { |a,b| b.points <=> a.points }.each do |post| %>
    <tr >
      <td><% domain = post.url.split("/")[2] %>
        <br>


        <div style="font-size:28px; line-height: 20px;" class="span-1"><a href="vote/up"><i class="icon-sort-up"></i></a></div><p style="margin: -15px">
          <div style="font-size:28px; line-height: 20px;" class="span-1"><a href="vote/down"><i class="icon-sort-down"></i></a></div>
          <td>
            <div class="span-4 lead"><%= link_to post.title, post.url %>&nbsp;&nbsp;</div>
            <div class="span-4 muted" >(<%= domain %>)</div>&nbsp;
          
            <div class="span-4 badge <%= "badge-info" if post.points > 0 %>"<%= "style='color:#ddd'" if post.points < 0%> >
              <%= pluralize(post.points, "point") %>
            </div>
            <div class="span-4 badge <%= "badge-info" if post.comments.count > 0 %> "  >
              <%= link_to "#{pluralize(post.comments.count, 'comment')}" , post, {:style=>'color:#FFF;'} %>
            </div>
          </td>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
