<h1>Interesting Links</h1>
<a class= "btn btn-large btn-custom" href="/submit"><i class="icon-link"></i> Submit a new link</a>
<br>
<br>


<table class="table table-striped ">
  <tbody>
  <% @posts.sort { |a,b| b.points <=> a.points }.each do |post| %>
    <tr >
      <td><% domain = post.url.split("/")[2] %>
        <br>


        <%= form_for @vote do |f| %>
          <%= f.hidden_field(:vote, :value => "1") %>
          <%= f.hidden_field(:post_id, :value => post.id ) %>
          <%= f.submit "+", :class => "btn", :style=>'padding: 8px;'   %>

        <% end %>

        <%= form_for @vote do |f| %>
          <%= f.hidden_field(:vote, :value => "-1") %>
          <%= f.hidden_field(:post_id, :value => post.id ) %>
          <%= f.submit "- ", :class => "btn", :style=>'padding: 8px;'   %>
        <% end %>


          <td>
            <div class="span-4 lead"><%= link_to post.title, post.url %>&nbsp;&nbsp;</div>
            <div class="span-4 muted" >(<%= domain %>)</div>&nbsp;
          
            <div class="span-4 badge <%= "badge-info" if post.points > 0 %>"<%= "style='color:#ddd'" if post.points < 0%> >
              <%= pluralize(post.points, "point") %>
            </div>
            <div class="span-4 badge <%= "badge-info" if post.comments.count > 0 %> "  >
              <%= link_to "#{pluralize(post.comments.count, 'comment')}" , post, {:style=>'color:#FFF;'} %>
            </div>
          </td>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

