<h1>Interesting Links</h1>
<%= link_to 'Submit a new link', :submit, :class => "btn btn-large btn-primary " %>
<br>
<br>

<table class="table table-striped">
  <tbody>
  <% @posts.each do |post| %>
    <tr >
      <td><% domain = post.url.split("/")[2] %>
          <div class="span-1" ><a href="/"><i class="icon-arrow-up"></i></a></div><br>
          <div class="span-2" style="margin:5px;"><a href="/"><i class='icon-arrow-down'></i></a></div>
          <td>
            <div class="span-4 lead "><%= link_to post.title, post.url %>&nbsp;&nbsp;</div>
            <div class="span-4 muted" >(<%= domain %>)</div>&nbsp;
          
            <div class="span-1 label <%= "label-inverse" if post.points > 0 %>">
              <%= pluralize(post.points, "point") %>
            </div>
            <div class="span-4 label <%= "label-info" if post.comments.count > 0 %>"  >
              <%= link_to "#{pluralize(post.comments.count, 'comment')}" , post, {:style=>'color:#FFFFFF;'} %>
            </div>
          </td>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
