<h1>Interesting Links</h1>
<a class= "btn btn-large btn-custom" href="/submit"><i class="icon-link"></i> Submit a new link</a>
<br>
<br>


<table class="table table-striped ">
  <tbody>
  <% @posts.sort { |a,b| b.points <=> a.points }.each do |post| %>
    <tr >
        <td><% domain = post.url.split("/")[2] %>
          <% if not logged_in? or not current_user.votes.where(post_id: post.id).first %>
          <%= form_for @vote do |f| %>
            <%= f.hidden_field(:vote, :value => "1") %>
            <%= f.hidden_field(:post_id, :value => post.id ) %>
            <%= f.submit "+", :class => "btn", :style=>'padding: 8px;'   %>
          <% end %>

          <%= form_for @vote do |f| %>
            <%= f.hidden_field(:vote, :value => "-1") %>
            <%= f.hidden_field(:post_id, :value => post.id ) %>
            <%= f.submit "- ", :class => "btn", :style=>'padding: 8px;'   %>
          <% end %>
          <% end %>
        
        </td>
        <td>
            <div class="lead"><%= link_to post.title, display_url(post) %>&nbsp;&nbsp;</div>
            <div class="muted" style="margin-top: -15px;" >(<%= domain %>)</div>&nbsp;
            <br> 
            <div class="badge <%= "badge-info" if post.points > 0 %>"<%= "style='color:#ddd'" if post.points < 0%> >
              <%= pluralize(post.points, "point") %>
            </div>
            <div class="badge <%= "badge-info" if post.comments.count > 0 %> "  >
              <%= link_to "#{pluralize(post.comments.count, 'comment')}" , post, {:style=>'color:#FFF;'} %>
            </div>
            <div>
              <% if post.user then %>
              Submitted by <%= link_to post.user.username, post.user %>
              <% end %>
            </div>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
