<% domain = @post.url.split("/")[2] %>
<h1><i class=icon-comment></i>&nbsp;&nbsp;Comments</h1>



<div class="container">
  <div class="span-16">
      <div style="margin-bottom: 5px;" class="lead"><%= link_to @post.title, @post.url %></div>
      <div class="muted" >(<%= domain %>)</div>
      <% if @post.user then %>
         Submitted by <%= @post.user.username  %>
      <% end %>
      <div class="pull-left">
        <%= pluralize(@post.points, "point") %> |
        <%= pluralize(@post.comments.count, "comment") %> 
      </div>
  </div>

</div>
      <br>
<div class="span-10">
<%= form_for @comment , :url => { :action => :create, :controller => :comments} do |f| %>
  <%= f.label(:content, "Leave a new comment:") %>
  <%= f.text_area :content, :size => "40x4" %><br>
  <%= f.submit "Submit Comment", :class => "btn"  %>
  <%= f.hidden_field(:post_id, :value => @post.id) %>
<% end %>
</div>

      <br>
      <br>
      <br>
<table class="table">
  <tbody>
  <% @post.comments.each do |comment| %>
    <tr>
      <td><blockquote><%= comment.content %></blockquote></td>
    </tr> 
  <% end %>
  </tbody>
</table>

