<% domain = @post.url.split("/")[2] %>
      <h1>Comments</h1>


<div class="container">
  <div class="well">
      <div style="margin-bottom: 5px;" class="lead"><%= link_to @post.title, @post.url %></div>
      <div class="muted" >(<%= domain %>)</div>
      <div class="pull-left"><strong> <%= pluralize(@post.comments.count, "comment") %></strong></div>
  </div>
</div>

<%= form_for @comment , :url => { :action => "create_comment" } do |f| %>
  <%= f.label(:content, "Leave a new comment") %>
  <%= f.text_field :content %>
  <%= f.submit "Submit Comment" %>
  <%= f.hidden_field(:post_id, :value => @post.id) %>

<% end %>

      <br>
      <br>
<table class="table">
  <tbody>
  <% @post.comments.each do |comment| %>
    <tr>
      <td><blockquote><%= comment.content %></blockquote></td>
    </tr> 
  <% end %>
  </tbody>
</table>

