<div class="brand">
  <%= link_to "Home", root_path, class: "span-1" %>
</div>
<div class="pull-right">
  <% if logged_in? %>
    Logged in as <%= link_to current_user.username, current_user %> | <%= link_to "logout", :logout %>
  <% else %>
    <%= link_to "login", :login, class: "" %>&nbsp;or&nbsp;<%= link_to "register", :register, class: "" %>
  <% end %>
</div>

